<div class="w-100 h-100 overflow-hidden p-2">
  <form [formGroup]="userForm" class="custom-mat-field my-1" (keydown.enter)="$event.preventDefault()" #myform="ngForm"
        (ngSubmit)="submit(myform)">
    <mat-form-field appearance="legacy" class="float-left me-4" (keydown.enter)="name.focus()">
      <mat-label>Mobile Number</mat-label>
      <input #numberInput formControlName="number" matInput maxlength="9" minlength="9" placeholder="Ex. 771422978"
             required>
      <mat-error>Number is Required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="float-left me-4" (keydown.enter)="submit(myform);numberInput.focus()">
      <mat-label>Name</mat-label>
      <input #name formControlName="name" matInput placeholder="Ex. Ahamed">
      <mat-error>Name is Required</mat-error>
    </mat-form-field>
    <button #btnSubmit mat-raised-button color="primary" type="submit">ADD</button>
  </form>
  <div class="table-responsive custom-table">
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col"></th>
      </tr>
      </thead>
    </table>
    <table class="table">
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.number}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
